<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XgbFeatureInteractions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib"/>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <XgbFeatureInteractions.Properties.Settings>
      <setting name="XgbModelFile" serializeAs="String">
        <value>xgb.model</value>
      </setting>
      <setting name="OutputXlsxFile" serializeAs="String">
        <value>XgbFeatureInteractions.xlsx</value>
      </setting>
      <setting name="TopK" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MaxDeepening" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="SortBy" serializeAs="String">
        <value>Gain</value>
      </setting>
      <setting name="MaxTrees" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MaxInteractionDepth" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MaxHistograms" serializeAs="String">
        <value>10</value>
      </setting>
    </XgbFeatureInteractions.Properties.Settings>
  </applicationSettings>
</configuration>
